h2{
    font-family: 'Architects Daughter', cursive;
    color: rgb(200, 219, 29);
    font-size: 60px;
}
body {
    background: url(../images/back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li{
    display: inline;
    float: left;
}
li a{
    display: block;
  color: rgb(187, 157, 146);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#about{
    text-align: center;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 70px;
    text-align: center;
    color: rgb(189, 163, 144);
    text-shadow: 3px 3px 5px black;
}
p{
    color:rgb(235, 184, 17);
}
#img1{
    margin-right: 3%; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.2s;
}
#img1:hover{
    box-shadow: 0 0 4px 3px;
    transition: 0.5s;
}

#img1 img{
    border-radius: 10px;
}